
.HeroGrid {
 margin-top: 4em;
 height: 100dvh;
}
@media screen and (max-width: 768px) {
    .HeroGrid {
        gap: 8em ;
        height: 100vh;
    }
    
}
.GridItem1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text1{
    color:color-mix(in srgb-linear, red  , green 50%);
}
.HeroImageIcon:hover{
    filter: drop-shadow(0 0 0.5rem #249b22);
}

.btn{
    background:linear-gradient(90deg, #021bfb 0%, #040324 100%);
    color: white;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background:linear-gradient(90deg, #040324 0%, #021bfb 100%);
    color: white;
    transform: scale(1.1);
}
