.HeroGrid {
  padding: 2em;
  padding-top: 3em;
  height: 700px;
}
@media screen and (max-width: 768px) {
  .HeroGrid {
    gap: 2em;
    height: 800px;
  }
  .grid1 {
    grid-template-columns: 1fr;
  }
  .HeroImageIcon {
    width: 300px;
    height: 300px;
  }
}
.GridItem1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text1 {
  color: color-mix(in srgb-linear, red, green 50%);
}
.HeroImageIcon:hover {
  filter: drop-shadow(
    0 0 0.5rem color-mix(in srgb-linear, rgb(9, 255, 0), rgb(0, 2, 128) 50%)
  );
}

.btn {
  background: linear-gradient(90deg, #021bfb 0%, #040324 100%);
  color: white;
  width: 120px;
  height: 35px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn:hover {
  background: linear-gradient(90deg, #040324 0%, #021bfb 100%);
  color: color-mix(in srgb-linear, #fb0202, #1aff00 50%);
  transform: scale(1.1);
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  animation: fadeIn 1s ease-in;
  transition: 1s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn {
  color: color-mix(in srgb-linear, #fb0202, #2705d1 50%);
  font-size: 1.2em;
  font-weight: 500;
}
