/* Nav Bar */
.navcontainer {
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.501);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navItemBox {
  position: sticky;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 140px;
  height: 40px;
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
  75% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .navcontainer {
    display: none;
  }
}
/* Menu */

.menuBox {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  z-index: 100;
}

.menuItemBox {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.432);
  transition: 0.5s;
  z-index: 100;
  flex-direction: column;
}
.menuIcon {
  font-size: 3.5em;
}
@media screen and (min-width: 800px) {
  .menuBox,
  .menuItemBox {
    display: none;
  }
}
/* linkItem */
.link {
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  color: white;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background: linear-gradient(to right, #fb0202, #3007ff);
  transition: width 0.5s;
}
.link:hover::after {
  width: 100%;
}
.link:hover {
  color: blue;
}
.icon {
  font-size: 22px;
}
.text {
  letter-spacing: 3px;
  font-size: 1.1em;
}
/* linkList */
.listBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100dvw;
  height: 100%;
}
.listItem {
  position: relative;
  height: 40px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: white;
  padding-left: 30px;
}
.text {
  letter-spacing: 3px;
  font-size: 1.1em;
  color: color-mix(in srgb-linear, #17fb02, #2705d1 50%);
  background: linear-gradient(145deg, #fb0202, #3007ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.icon {
  font-size: 22px;
  color: color-mix(in srgb-linear, #fb0202, #2705d1 50%);
}
/*  progressive line */
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: linear-gradient(145deg, #fb0202, #3007ff);
  transition: 0.1s ease-in;
}
.progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4px;
  background: linear-gradient(145deg, #fb0202, #3007ff);
  transform-origin: 0%;
}
